body {
  background-image: url(image3.jpg);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

a:link, a:visited {
  background-color: #069b51;
  color: white;
  margin-top: 15px;
  padding: 0px 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #669fe6;
}


td, th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
}

tr:hover {background-color: #ddd;}

th {
  padding: 12px 20px;
  text-align: center;
  background-color: #4472e6;
  color: white;
}


input, select {
  color: black;
  padding: 8px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

button {
  font-size: 15pt;
  font-weight: bold;
  padding: 15px 40px;
  margin: 10px;
  border-radius: 8px;
  background-color: #069b51;
  color: white;
}